name: Create Hono App

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  create-hono-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Create Hono app
        run: bun create cloudflare@latest my-hono-app --framework=hono --ts
